<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
        <meta name="author" content="yzk">
        <meta name="description" content="测试CSS">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/page1.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/page2.css')}}" />
        <script type='text/javascript' src="{{ url_for('static',filename='JS/index.js')}}"></script>
        <script type='text/javascript' src="{{ url_for('static',filename='JS/page2.js')}}"></script>
        <title>管理系统</title>
    </head>
    <body background='{{ url_for("static",filename="image/bg8.jpg")}}'>
        <div class="master" >
            <div class="top" >
                <p>welcome</p>
                <a id="logout" href="{{url_for('logout')}}">退出登录</a>
            </div>
            <div>
                <div class="left">
                        <ul >
                            <li ><a href="{{url_for('page1')}}">首&nbsp;&nbsp;&nbsp;页</a></li>
                            <li id="here"><a href="{{url_for('page2')}}">查看库存</a></li>
                            <li><a href="{{url_for('page3')}}">查找信息</a></li>
                            <li ><a href="{{url_for('page4')}}">增加信息</a></li>
                            <li ><a href="{{url_for('page5')}}">删除信息</a></li>
                            <li ><a href="{{url_for('page6')}}">修改信息</a></li>
                    </ul>
                </div>
                    <div class="content" >
                        <div>
                            <div class="head">
                                <div>
                                    <form method="POST" action="{{url_for('page2')}}" >
                                        <table>
                                            <tr>
                                                <td><label for="term" id="term">选择排序条件:</label></td>
                                                <td><select name="term" class="term">
                                                    <option>商品编号</option>
                                                    <option>商品数量</option>
                                                    <option>商品价格</option>
                                                </select></td>
                                                <td><button type="submit" id="select">查&nbsp询</button></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="con">
                                <table>
                                    <tr id="table_head">
                                        <th>商品编号</th>
                                        <th>商品名称</th>
                                        <th>商品数量</th>
                                        <th>商品规格</th>
                                        <th>商品价格</th>
                                    </tr>
                                    <tr><td colspan="5"><p clas='msg' id="msg">{{err}}</p></td></tr>

                                    {% for id,name,size,count,price in res %}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>{{name}}</td>
                                            <td>{{count}}</td>
                                            <td>{{size}}</td>
                                            <td>{{price}}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        <!-- <footer>
                <button  class="image" type="button" onclick="NextImage()"> &lt </button>
                <button  class="image" type="button" onclick="NextImage()" > &gt </button>
            </footer> -->
    </body>

</html>